extends html

block main
  .main-contents
    include includes/breadcrumbs
    - const previous_question = strings ? strings.previous_question : "Previous Question"
    - const resources_title = strings ? strings.resources : "Resources"
    - const more_tips_title = strings ? strings.more_tips : "More Tips"

    if permalink && permalink.split('_').reverse()[0] !== 'end'
      .post
        .section
          if quote
            blockquote!= quote
          if intro
            header.post-header.question
              h1.post-title!= intro
          if description
            header.post-header.question
              h1.post-title!= description
          if list
            article.post-content.answers        
              != list
          .previous
            a#previousbutton(href='javascript:window.history.back();')!= `&#x25c2; ${previous_question}` 
    else
      .post.end
        != contents
        .bottom-tips
          .pure-g
            .pure-u-1-1.cols
              .pure-u-2.pure-u-md-2-3
                .tips
                  h2= more_tips_title
                  != tips
              .pure-u-1.pure-u-md-1-3
                .resources
                  h2= resources_title
                  != resources


  include includes/links
