---
layout: index.pug
language: es
permalink: /es/
---

.header.full-width
  .contents
    h1 Bienvenido al
    br
    h1 ¡Kit de Primeros Auxilios Digitales!
    br
    h1#sub Un kit diseñado para llevarte al equipo de CiviCERT indicado

.intro
  .contents
    p El Kit de Primeros Auxilios Digitales es un recurso gratuito para ayudar a quienes brindan respuesta rápida, entrenadores en seguridad digital y activistas con intereses técnicos a protegerse mejor a sí mismos y a sus comunidades contra los tipos más comunes de emergencias digitales. Tambien puede ser usado por activistas, defensores/as de derechos humanos, blogueros/as, periodistas o activistas de medios que quieran aprender más sobre cómo se pueden proteger a sí mismos y ayudar a otros. Si tú o alguien a quien estás ayudando está sufriendo una emergencia digital, el Kit de Primeros Auxilios Digitales te ayudará a diagnosticar los problemas que estás experimentando y te referirá a los proveedores de soporte adecuados para obtener ayuda más especializada en caso de ser necesario.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 ¿Qué problema estás experimentando?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Perdí mi dispositivo
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Perdí acceso a mis cuentas
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Mi dispositivo está actuando de forma sospechosa
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p He recibido mensajes sospechosos
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Mi sitio web no está funcionando
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Alguien me está suplantando en internet
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Estoy siendo acosada o acosado en línea
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Perdí mi información
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Alguien que conozco ha sido arrestado o arrestada

    p.after
      | Selecciona el problema que estás experimentando y el Kit de Primeros Auxilios Digitales
      | te guiará por una serie de preguntas que te permitirán diagnosticar mejor el problema
      | y encontrar algunos recursos que te servirán de ayuda. Para aquellos problemas que no
      | puedas enfrentar por tu cuenta, el Kit de Primeros Auxilios Digitales tiene una
      a(href="support/") lista de organizaciones que brindan ayuda y que puedes consultar
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ¿QUÉ MAS NECESITAS SABER?
          p
            | El Kit de Primeros Auxilios Digitales no está pensado para ser la solución definitiva
            | para todas las emergencias digitales. Si te sientes inseguro/a sobre cómo actuar
            | ante los problemas que estás enfrentando, por favor consulta la 
            a(href="support/") lista de organizaciones a las que puedes contactar.
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 ¿TE SIENTES ABRUMADO/A?
          p
            | El acoso en línea, las amenazas y otros tipos de ataques digitales pueden
            | generar una gran carga a nivel emocional y en nuestro bienestar. Consulta nuestra
            a(href="self-care/") guía de auto cuidado con consejos para encontrar más
            | recursos y organizaciones que brindan soporte y mitigación.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ¿QUIÉN ESTÁ DETRÁS DEL KIT DE PRIMEROS AUXILIOS DIGITALES?
          p
            | Este recurso es un esfuerzo colaborativo entre la Red de Respuesta Rápida 
            a(href="https://www.rarenet.org") RaReNet
            | y
            a(href="https://www.civicert.org") CiviCERT
            | . Vea nuestra página Acerca de para más información. El Kit de Primeros
            | Auxilios Digitales es un proyecto de código abierto y aceptamos contribuciones externas.
