---
layout: index.pug
language: id
permalink: /id/
---

.header.full-width
  .contents
    h1 Selamat datang di
    br
    h1 Pertolongan Pertama Darurat Digital!
    br
    h1#sub Perangkat yang didesain untuk memandu Anda ke tim CiviCERT yang tepat

.intro6
  .contents
    p Pertolongan Pertama pada Darurat Digital adalah sumber informasi gratis untuk membantu tim respon cepat, pengajar keamanan digital, dan aktivis yang fasih teknologi untuk melindungi diri sendiri dan komunitas yang mereka dukung dari berbagai darurat digital yang sering terjadi dengan lebih baik. Perangkat ini dapat pula digunakan oleh aktivis, pembela HAM, penulis blog, jurnalis, atau aktivis media yang ingin belajar lebih banyak mengenai bagaimana mereka dapat melindungi diri dan mendukung orang lain. Jika Anda atau orang yang Anda dampingi mengalami situasi darurat digital, Pertolongan Pertama pada Darurat Digital akan memandu Anda untuk mendiagnosis isu yang Anda hadapi, dan merujuk Anda ke penyedia bantuan untuk dukungan lebih lanjut jika diperlukan.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Masalah apa yang Anda hadapi?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Saya kehilangan perangkat saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Saya kehilangan akses ke akun saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Perangkat saya bertingkah mencurigakan
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Saya menerima pesan mencurigakan
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Situs web saya tidak berfungsi
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Seseorang meniru identitas saya secara online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Saya dilecehkan secara online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Saya kehilangan data saya
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Seseorang yang saya kenal ditangkap

  p.after
      | Pilih masalah yang Anda hadapi dan Pertolongan Pertama pada Darurat Digital (P2D2)
      | akan memandu Anda melalui serangkaian pertanyaan untuk mendiagnosis
      | masalah tersebut dengan lebih baik serta menemukan sumber informasi untuk menolong Anda. Untuk masalah-masalah yang tidak bisa
      | Anda atasi sendiri, P2D2 memiliki
      a(href="support/") daftar organisasi pendukung yang dapat Anda temui untuk konsultasi
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 HAL APA LAGI YANG ANDA PERLU TAHU?
          p
            | Pertolongan Pertama pada Darurat Digital tidak dimaksudkan untuk menjadi solusi pamungkas bagi segala
            | situasi digital yang Anda hadapi. Jika Anda merasa tidak yakin bagaimana mengatasi
            | masalah yang Anda hadapi, mohon hubungi
            a(href="support/") daftar organisasi pendukung yang dapat Anda temui untuk konsultasi
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 MERASA KEWALAHAN?
          p
            | Pelecehan online, ancaman, dan jenis serangan digital lainnya dapat
            | menimbulkan beban berat bagi perasaan dan kesejahteraan Anda. Baca
            a(href="self-care/") tips panduan Perawatan Diri
            | untuk mengetahui lebih banyak informasi dan organisasi terkait dukungan dan
            | penanggulangan.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 SIAPA YANG ADA DI BALIK PERTOLONGAN PERTAMA PADA DARURAT DIGITAL?
          p
            | Sumber informasi ini adalah usaha kolaboratif dari
            a(href="https://rarenet.org") Rapid Response Network
            | dan
            a(href="https://civicert.org") CiviCERT
            | . Lihat
            a(href="about/") laman Tentang Kami
            | untuk informasi lebih lanjut. Pertolongan Pertama pada Darurat Digital adalah proyek open-source dan kami terbuka bagi
            a(href="https://gitlab.com/rarenet/dfak") kontribusi dari luar
            | .
