---
layout: index.pug
language: th
permalink: /th/
---

.header.full-width
  .contents
    h1 ยินดีต้อนรับสู่
    br
    h1 คู่มือการปฐมพยาบาลทางดิจิทัล!
    br
    h1#sub คู่มือปฐมพยาบาลตนเอง ที่ออกแบบโดยทีมงาน CiviCERT เพื่อพร้อมให้ความช่วยเหลือคุณ

.intro
  .contents
    p คู่มือการปฐมพยาบาลทางดิจิทัลเป็นแหล่งข้อมูลที่จัดทำขึ้นเพื่อให้คำแนะนำแนวทางการปฏิบัติตนเบื้องต้นสำหรับผู้ที่ทำงานรับมือเหตุฉุกเฉินเกี่ยวกับทางดิจิทัล ผู้ฝึกอบรมด้านความปลอดภัยทางดิจิทัล และนักเคลื่อนไหวที่มีความเชี่ยวชาญทางเทคโนโลยี ในการปกป้องตนเองและผู้ที่เกี่ยวข้องในกรณีที่เกิดความไม่ปลอดภัยหรือเหตุฉุกเฉินที่ต้องการความช่วยเหลือทางดิจิทัลอย่างเร่งด่วน รวมไปถึงนักเคลื่อนไหวในรูปแบบต่างๆ นักสิทธิมนุษยชน บล็อคเกอร์ นักข่าว หรือสื่อมวลชนที่เคลื่อนไหวทางสังคมในรูปแบบต่างๆ ในการปกป้องตนเองและให้ความช่วยเหลือแก่ผู้อื่นอีกด้วย ไม่ว่าคุณจะเป็นผู้ที่มีประสบการณ์โดยตรง หรือเกี่ยวข้องกับผู้ที่ประสบเหตุฉุกเฉินทางดิจิทัล  คู่มือการปฐมพยาบาลทางดิจิทัลนี้จะช่วยคุณในการประเมินเหตุการณ์ที่กำลังเผชิญอยู่ โดยเราจะช่วยแนะนำแนวทางเพื่อส่งต่อเรื่องของคุณไปยังหน่วยงานที่มีความเชี่ยวชาญในการให้ความช่วยเหลือ

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 คุณกำลังเผชิญอยู่กับปัญหาในลักษณะรูปแบบใด?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p ฉันทำเครื่องมือหรืออุปกรณ์สื่อสารสูญหาย
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p ฉันไม่สามารถเข้าถึงบัญชีการใช้ของตนเองได้
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p เครื่องมือหรืออุปกรณ์สื่อสารของฉันทำงานผิดปกติแบบต้องสงสัย
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p ฉันได้รับข้อความที่ไม่ปกติแบบต้องสงสัย
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p เว็บไซต์ของฉันไม่ทำงาน
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p มีบุคคลอื่นพยายามแอบอ้างตัวตนเป็นฉันทางออนไลน์
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p ฉันถูกคุกคามทางออนไลน์
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p ข้อมูลของฉันสูญหาย
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p บุคคลที่ฉันรู้จักโดนจับกุมตัว

    p.after
      | เลือกปัญหาที่คุณกำลังเผชิญอยู่ แล้วกรอกรายละเอียดเพิ่มเติมตามคำถามที่ปรากฏขึ้น
      | เพื่อให้คู่มือการปฐมพยาบาลทางดิจิทัลได้ช่วยคุณประเมินรูปแบบของปัญหา สถานการณ์ที่คุณกำลังเผชิญ และให้ความช่วยเหลือคุณ
      | ไม่ต้องกังวลหากคุณรู้สึกว่าไม่สามารถรับมือกับปัญหาได้ด้วยตัวเอง
      | ทีมงาน DFAK มี
      a(href="support/") รายชื่อหน่วยงานสนับสนุนอีกมากมายที่พร้อมให้คำปรึกษากับคุณ
      | 

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 อยากทำความรู้จักคู่มือการปฐมพยาบาลทางดิจิทัลเพิ่มเติม?
          p
            | คู่มือการปฐมพยาบาลทางดิจิทัลเป็นคู่มือแนะนำแนวทางปฏิบัติเบื้องต้นให้กับผู้ที่ประสบเหตุฉุกเฉินทางดิจิทัล
            | หากคุณมีความกังวล และไม่แน่ใจว่าควรรับมือต่อสถานการณ์อย่างไร
            | ให้เราช่วยเหลือและสนับสนุนคุณ โดยติดต่อที่
            a(href="support/") หน่วยงานสนับสนุนที่พร้อมให้คำปรึกษากับคุณ
            | 
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 รู้สึกกดดันหรือไม่สบายใจมากใช่ไหม?
          p
            | การคุกคามบนโลกออนไลน์ ภัยคุกคาม หรือการโจมตีทางดิจิทัลใดๆ
            | ก่อให้เกิดความรู้สึกเชิงลบ ความไม่สบายใจ หรือความกดดันที่มากเกินไปได้ คุณสามารถเข้าไปอ่าน
            a(href="self-care/") คู่มือการดูแลตนเอง
            | เพื่อรับทราบข้อมูลที่เป็นประโยชน์ และรายชื่อหน่วยงานที่พร้อมให้การสนับสนุน
            | ให้คำปรึกษาเพื่อบรรเทาความรู้สึกที่คุณต้องแบกรับ
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ใครคือผู้จัดทำคู่มือการปฐมพยาบาลทางดิจิทัลฉบับนี้?
          p
            | คู่มือการปฐมพยาบาลทางดิจิทัลถูกจัดทำโดยความร่วมมือระหว่าง
            a(href="https://rarenet.org") Rapid Response Network
            | และ
            a(href="https://civicert.org") CiviCERT
            | . หากต้องการอ่านข้อมูลเพิ่มเติมโปรดคลิกที่หน้า
            a(href="about/") เกี่ยวกับคู่มือ
            | คู่มือการปฐมพยาบาลทางดิจิทัลเป็นโครงการ Open-source project ที่เปิดรับการสนับสนุนจากภายนอก เรายินดีต้อนรับ
            a(href="https://gitlab.com/rarenet/dfak") บุคคลหรือหน่วยงานภายนอกที่สนใจร่วมสนับสนุนโครงการ
            | .
